:root {
    --main-color: #0942fe;
}

body {
    background-color: #f7f7f7;
}

a {
    text-decoration: none;
}

.fo-bebas {
    font-family: "Bebas Neue", sans-serif;
}

.img-bg {
    background-image: url(../imgs/Ellipse\ 1\ copy.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    height: 100vh;
}

.custom-p {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 700;
}

.main-div {
    background-color: var(--main-color);
    width: 77%;
}

.main-div h1 {
    font-size: 160px;
    margin: 0;
    line-height: 135px;
}

.custom-hr {
    width: 50%;
}

.circle {
    background-color: var(--main-color);
    border-radius: 50%;
    position: absolute;
}

.circle img {
    width: 95%;
    height: 95%;
}

.circle-one {
    height: 300px;
    width: 300px;
    top: -60px;
    left: 80%
}

.circle-one img, .circle-three img {
    margin: 8px 0 0 8px;
}

.circle-two {
    height: 400px;
    width: 400px;
    top: 15%;
    left: 90%;
    z-index: 1;
    box-shadow: 0 0 30px 5px;
}

.circle-two img {
    margin: 10px 0 0 10px;
}

.circle-three {
    height: 340px;
    width: 340px;
    bottom: -100px;
    left: 77%;
}

@media only screen and (max-width: 600px) {
    .main-div {
        width: 85%;
    }

    .main-div h1 {
        font-size: 60px;
        margin: 0;
        line-height: 60px;
    }

    .img-bg {
        background-image: none;
    }

    .custom-p {
        flex-direction: column;
        width: 100%;
        margin-left: -60px;
    }

    .circle-one {
        height: 150px;
        width: 150px;
        top: -35px;
        left: 70%;
    }

    .circle-one img, .circle-three img {
        margin: 6px 0px 0px 3px;
    }

    .circle-two {
        height: 300px;
        width: 300px;
        left: 66%;
    }

    .circle-two img {
        margin: 7px 0 0 5px;
    }

    .circle-three {
        height: 220px;
        width: 220px;
        top: 65%;
        left: 76%;
    }

    .circle-three img {
        margin: 5px 0px 0px 8px;
    }
}

@media (min-width:601px) and (max-width: 885px) {
    .img-bg {
        background-image: none;
        ;
    }

    .main-div h1 {
        font-size: 140px;
        margin: 0;
        line-height: 125px;
    }
}

@media only screen and (min-width: 1550px) {
    .circle-one, .circle-three {
        left: 90%;
    }

    .circle-two {
        left: 97%;
    }
}